<!DOCTYPE html>
<html>
<head>
    <title>Flex Office Management</title>
    <link rel="stylesheet" href="index.component.css">
</head>
<body>
    <header>
        <div class="container">
            <div>
               <img src="assets/images/Sopra_Steria_Logo.jpg" width="150px"> 
            </div>
            <nav> 
                <a href="/login" class="btn-purple">Se connecter</a>
                <a href="/register" class="btn-purple">S'inscrire</a>
            </nav>
        </div>
    </header>
    <div class="cc">
        <h1>Gérez votre espace de travail flexible et pratique avec Flex Office Management.</h1>
    </div>
    <section class="hero">
        <div class="container">
            
            <div class="hero-content">
                
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Flex Office Sopra Steria. Tous les droits sont réservés.</p>
            </div>
    </footer>

</body>
</html>
