
<!-- <div *ngIf="equipes && bureaux">
    <h2>Liste des équipes avec bureau attribué :</h2>
    <ul>
      <li *ngFor="let equipe of equipes">
        <p>Nom de l'équipe : {{ equipe.nom }}</p>
        <p>Bureau attribué : {{ equipe.bureauAttribue }}</p>
      </li>
    </ul>
  </div>
   -->
  
   <div *ngIf="equipes && bureaux">
    <h2>Liste des équipes avec bureau attribué :</h2>
    <ul>
      <li *ngFor="let equipe of equipes">
        <p>Nom de l'équipe : {{ equipe.nom }}</p>
        <p>Bureau attribué : {{ trouverBureauPourEquipe(equipe) }}</p> <!-- Appel avec l'objet équipe complet -->
      </li>
    </ul>
</div>
