<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Espace Utilisateur - Gestion du Flex Office</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Sopra_Steria_Logo.jpg" alt="Logo de Sopra Steria" style="width: 150px; height: 80px;">
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" style="color: black;">Accueil</a>
              </li>
            <!-- Menu déroulant Administration -->
            <li class="nav-item dropdown" *ngIf="admin">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administration
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/equipe">Gestion des Equipes</a></li>
                <li><a class="dropdown-item" routerLink="/bureau">Gestion des Bureaux</a></li>
                <li><a class="dropdown-item" routerLink="/visualisation">Gestion des Attributions</a></li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/index" style="color: black;">Déconnexion</a>
            </li>
          </ul>
        </div>
      </nav>


    <div class="container">
        <div style="text-align: center;">
            <h2>Bienvenue  <strong>{{ userName }}</strong> dans votre espace utilisateur!</h2>
        </div>
        
        
        <!-- Section des membres de l'équipe -->
        <div class="card">
            <div class="card-header">
                Votre Équipe
            </div>
            <div class="card-body">

                <p> Vous êtes dans l'équipe <strong>{{ equipeName }} </strong> </p>
                <!-- Insérer ici la liste des membres de l'équipe -->
            </div>
        </div>
        <!-- Section de la présence hebdomadaire -->
        <div class="card">
            <div class="card-header">
                Votre Semaine du {{ debutSemaine }} au {{ finSemaine }}
            </div>
            <div class="card-body">
                <p>Voici vos bureaux pour cette semaine</p>
                <table>
                    <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Bureau</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let affectation of affectationsSemaine | keyvalue">
                            <td>{{ getDayName(affectation.key) }} </td> <!-- Utilisez getDayName pour convertir la date en nom de jour -->
                            <td>{{ affectation.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</body>
</html>
