<div class="container">
  <div class="login-container">
    <h2 class="login-title">Connexion</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="form-label">E-mail :</label>
        <input type="email" id="email" name="email" [(ngModel)]="userEmail" required class="form-control" placeholder="Entrez votre e-mail">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Mot de passe :</label>
        <input type="password" id="password" name="password" [(ngModel)]="userPassword" required class="form-control" placeholder="Entrez votre mot de passe">
      </div>
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
      <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
    </form>
  </div>
</div>


<!-- <div>
  <h2>Connexion</h2>
  <form (submit)="onSubmit()">
    <div>
      <label for="email">E-mail :</label>
      <input type="email" id="email" name="email" [(ngModel)]="userEmail" required>
    </div>
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" [(ngModel)]="userPassword" required>
    </div>
    <div *ngIf="loginError" class="error">{{ loginError }}</div>
    <button type="submit">Se connecter</button>
  </form>
</div> -->
