<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Espace Utilisateur - Gestion du Flex Office</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://mma.prnewswire.com/media/1861938/Sopra_Steria_Logo.jpg?p=facebook" alt="Logo de Sopra Steria" style="width: 150px; height: 80px;">
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" style="color: black;">Accueil</a>
              </li>
            <!-- Menu déroulant Administration -->
            <li class="nav-item dropdown" *ngIf="admin">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administration
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/equipe">Gestion des Equipes</a></li>
                <li><a class="dropdown-item" routerLink="/bureau">Gestion des Bureaux</a></li>
                <li><a class="dropdown-item" routerLink="/visualisation">Gestion des Attributions</a></li>
                </ul>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/index" style="color: black;">Déconnexion</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">

      <div class="card">
        <h3 class="card-header" style="text-align: center;">
            Affectation des Bureaux pour la Semaine 
        </h3>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Équipe</th>
                <!-- Affiche dynamiquement les jours comme en-têtes -->
                <!-- <th *ngFor="let jour of jours">{{ jour }}</th> -->
                <th>Lundi</th>
                <th>Mardi</th>
                <th>Mercredi</th>
                <th>Jeudi</th>
                <th>Vendredi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let affectation of transformedAffectations">
                <td>{{ affectation.equipe }} ({{ getNombrePersonnes(affectation.equipe) }} personnes)</td>
                <!-- Lundi -->
                <td>
                  <ng-container *ngIf="affectation.lundi && affectation.lundi.length">
                    <ng-container *ngFor="let bureau of affectation.lundi; let i = index">
                      <button *ngIf="i > 0; else firstBureauLundi" tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'lundi') }}">
                        {{ bureau }}
                      </button>
                      <ng-template #firstBureauLundi>
                        <button tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'lundi') }}">
                          {{ bureau }}
                        </button>
                      </ng-template>
                      <span *ngIf="i < affectation.lundi.length - 1"> </span>
                    </ng-container>
                  </ng-container>
                </td>

                <!-- Mardi -->
                <td>
                  <ng-container *ngIf="affectation.mardi && affectation.mardi.length">
                    <ng-container *ngFor="let bureau of affectation.mardi; let i = index">
                      <button *ngIf="i > 0; else firstBureauMardi" tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'mardi') }}">
                        {{ bureau }}
                      </button>
                      <ng-template #firstBureauMardi>
                        <button tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'mardi') }}">
                          {{ bureau }}
                        </button>
                      </ng-template>
                      <span *ngIf="i < affectation.mardi.length - 1"> </span>
                    </ng-container>
                  </ng-container>
                </td>
                <!-- Mercredi -->
                <td>
                  <ng-container *ngIf="affectation.mercredi && affectation.mercredi.length">
                    <ng-container *ngFor="let bureau of affectation.mercredi; let i = index">
                      <button *ngIf="i > 0; else firstBureauMercredi" tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'mercredi') }}">
                        {{ bureau }}
                      </button>
                      <ng-template #firstBureauMercredi>
                        <button tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'mercredi') }}">
                          {{ bureau }}
                        </button>
                      </ng-template>
                      <span *ngIf="i < affectation.mercredi.length - 1"> </span>
                    </ng-container>
                  </ng-container>
                </td>

                <!-- Jeudi -->
                <td>
                  <ng-container *ngIf="affectation.jeudi && affectation.jeudi.length">
                    <ng-container *ngFor="let bureau of affectation.jeudi; let i = index">
                      <button *ngIf="i > 0; else firstBureauJeudi" tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'jeudi') }}">
                        {{ bureau }}
                      </button>
                      <ng-template #firstBureauJeudi>
                        <button tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'jeudi') }}">
                          {{ bureau }}
                        </button>
                      </ng-template>
                      <span *ngIf="i < affectation.jeudi.length - 1"> </span>
                    </ng-container>
                  </ng-container>
                </td>

                <!-- Vendredi -->
                <td>
                  <ng-container *ngIf="affectation.vendredi && affectation.vendredi.length">
                    <ng-container *ngFor="let bureau of affectation.vendredi; let i = index">
                      <button *ngIf="i > 0; else firstBureauVendredi" tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'vendredi') }}">
                        {{ bureau }}
                      </button>
                      <ng-template #firstBureauVendredi>
                        <button tooltip="Places disponibles: {{ getPlacesRestantes(bureau, 'vendredi') }}">
                          {{ bureau }}
                        </button>
                      </ng-template>
                      <span *ngIf="i < affectation.vendredi.length - 1"> </span>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
              <button class="d-block mx-auto mb-3"(click)="onAffecterBureauxClick()" >Affecter les Bureaux</button>              
      </div>
    </div>

  </div>
  </body>
</html>
